<h2 align="center">Add Category</h2>
<div ng-app="">
<div class="container">
  <form name="categoryForm">

     <div class="form-group has-success">
        <label class=" control-label">
          Category
        </label>
        <div class="form-group">
            <input type="text" name="cname" ng-model="cname" class="form-control" placeholder="Enter first name" ng-maxlength="8" ng-minlength="3" required>
        </div>    
          
          <span   ng-show="categoryForm.title.$valid"><span class=" col-lg-6 glyphicon glyphicon-ok form-control-feedback"></span></span> </span>
          </div>
        <div class="col-lg-4">
          <span ng-show="categoryForm.cname.$error.required" class="text-danger">name is required</span>
          <span ng-show="categoryForm.cname.$error.minlength" class="text-danger">name is too short</span>
          <span ng-show="categoryForm.cname.$error.maxlength" class="text-danger">name is too long</span>
        </div> 
        <div class="row">
          <div class="col-xs-12 text-center">
            <br />
            <input type="Submit" value="Add Category" class="btn btn-primary" />
          </div>
        </div> 
  </form>
 <!--{{title}}-->
   
</div>
</div>