     
  <h3> total categories</h3>
     <hr/>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="!categories.length">
            <td> count</td>
          </tr>
          <tr ng-repeat=" category in categories">
            <td> {{category.name}}</td>
             <td><a class="btn btn-danger" ng-click="deleteCategory($index)">Remove</a></td>
          </tr>
        </tbody>
      </table>
    </div>               
