<div class="container">
 <h1> Total Categories </h1>
   <% @categories.each do |category| %>
     <b>Category Name</b><p><%= category.name %></p>
      <p><%= link_to "EDIT" ,edit_category_path(category.id) ,class: "btn btn-primary"%> 
      <%= link_to "DELETE", category_path(category.id),method: :delete, data: {confirm: "confrim to delete"} ,class: "btn btn-primary" %>
      <%= link_to "SHOW", category_path(category.id) ,class: "btn btn-primary"%></p>

   <% end %>  
</div> 



